@font-face {
    font-family: "R-light" ;
    src: url(../../public/fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: "R-regular" ;
    src: url(../../public/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "R-medium" ;
    src: url(../../public/fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: "R-bold" ;
    src: url(../../public/fonts/Roboto/Roboto-Bold.ttf);
}



@font-face {
    font-family: "amatic-regular";
    src: url(../../public/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
    font-family: "amatic-bold";
    src: url(../../public/fonts/Amatic_SC/AmaticSC-Bold.ttf);
}