footer {
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.795);

    .infos {
        .info {
            display: flex;
            width: 20%;

            i {
                font-size: 1.5rem;
                padding-top: 0.2rem;
            }

            div {
                padding-left: 1rem;

                p {
                    margin: 0;
                }
            }


            &:last-child {
                div {
                    .icons {
                        display: flex;
                        gap: 1rem;
                        padding: 0;

                        i {
                            font-size: 1rem;
                            border: 1px solid white;
                            border-radius: 50%;
                            padding: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        border-top: 1px solid rgba(129, 129, 129, 0.774);

        p {
            padding-top: 1rem;
            width: 20vw;
            text-align: center;
        }
    }
}

@media (max-width: 430px) {

    footer {
        background-color: rgba(0, 0, 0, 0.863);
        height: fit-content;
        padding: 2rem 1rem;

        .infos {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            .info {
                display: flex;
                width: 60%;

                i {
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                }

                div {
                    padding-left: 1rem;

                    p {
                        margin: 0;
                        
                    }
                }


                &:last-child {
                    div {
                        .icons {
                            display: flex;
                            gap: 1rem;
                            padding: 0;

                            i {
                                font-size: 1rem;
                                border: 1px solid white;
                                border-radius: 50%;
                                padding: 0.5rem;
                            }
                        }
                        padding-bottom: 2rem;
                    }
                }
            }
        }

        .copyright {
            border-top: 1px solid rgba(129, 129, 129, 0.774);
            width: 100%;

            p {
                padding-top: 1rem;
                width: 80vw;
                text-align: center;
            }
        }
    }
}



@media (max-width: 770px) {

    footer {
        background-color: rgba(0, 0, 0, 0.863);
        height: fit-content;
        padding: 2rem 1rem;

        .infos {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            .info {
                display: flex;
                width: 60%;

                i {
                    font-size: 1.5rem;
                    padding-top: 0.2rem;
                }

                div {
                    padding-left: 1rem;

                    p {
                        margin: 0;
                        
                    }
                }


                &:last-child {
                    div {
                        .icons {
                            display: flex;
                            gap: 1rem;
                            padding: 0;

                            i {
                                font-size: 1rem;
                                border: 1px solid white;
                                border-radius: 50%;
                                padding: 0.5rem;
                            }
                        }
                        padding-bottom: 2rem;
                    }
                }
            }
        }

        .copyright {
            border-top: 1px solid rgba(129, 129, 129, 0.774);
            width: 100%;

            p {
                padding-top: 1rem;
                width: 80vw;
                text-align: center;
            }
        }
    }
}